              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p> 
              <%= render "devise/shared/links" %> 
          </div>        
        
        </div>
      </div>
    </div> 
  </div> 
</div>
