<div class="fullscreen landing parallax" style="background-image:url('/assets/bg.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
  
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
        
          <!-- /.logo -->
          <div class="logo wow fadeInDown"> <a href=""><img src="/assets/logo.png" alt="logo"></a></div>

          <!-- /.main title -->
            <h1 class="wow fadeInLeft">
            Получите доступ к системе будущего
            </h1>

          <!-- /.header paragraph -->
          <div class="landing-text wow fadeInUp">
            <p>Backyard is a modern and customizable landing page template designed to increase conversion of your product. Backyard is flexible to suit any kind of your business. Try now and join with our happy customers!</p>
          </div>          

          <!-- /.header button -->
          <div class="head-btn wow fadeInLeft">
            <a href="#feature" class="btn-primary">Узнать будущее</a>

          </div>
      
        </div> 
        
        <!-- /.signup form -->
        <div class="col-md-5">
        
          <div class="signup-header wow fadeInUp">
                      