


<div class="fullscreen landing parallax" style="background-image:url('/assets/bg.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
  
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
           

        </div> 
       
        </div>
      </div>
    </div> 
</div> 


<div> 
<%= link_to "Extra", '/addtesturl', class: 'addtest', remote: true, data: {type: :json} %>

</div>

<div class="addaction"> 

</div>

<div class="addaction1"> 

</div>