<div class= "row" >
  <div class="col-md-8">
        <%= form_for :eventtype, :url => {:action => 'new_event_type_but'}, :html => {:class => 'form-inline new_event_type_but'}, remote: true do |f| %>
            <div class= "row" >
                              <div class="form-group">
                                <div class="field"> 
                                  <%= f.collection_select(:id, EventType.all, :id, :name, {}, {:multiple => false, :class =>'form-control input-lg'})%>                        
                                </div>
                              </div>
                              <div class="form-group">                 
                                <div class="actions">
                                  <%= f.submit "Новое событие", class: "btn1" %>
                                </div> 
                              </div>
            </div>                     
        <% end %>
  </div>
</div>

<div class= "row" >
    <div class="history_action col-md-8">

    </div>
</div>